@charset "UTF-8";

body {
    /* font-family: 'Noto Serif JP', serif; */
    font-family: 'Noto Sans JP', sans;
    font-feature-settings: "palt";
    /* height: 100% !important; */
}

#sidebarContainer {
    z-index: 500;
    width: 300px !important;
    /* height: 100vh !important; */
    /* height: 1300px !important; */
    color: #ffffff;
    background-color: #000000 !important;
    /* background-color: rgba(0,0,0,0.8) !important; */
}

#mapContainer {
    /* top:0;  */
    height: 100vh; 
    width: 100vw; 
    /* position: fixed;  */
    /* z-index: 1; */
}

#mapboxContainer {
    /* top:0;  */
    height: 100vh; 
    width: 100vw; 
    /* position: fixed;  */
    /* z-index: 10; */
}

#legendContainer {
    z-index: 30;
    position: absolute;
}

#legendContainer rect {
    stroke-width: 0.4px;
    stroke: #000;
}

@media print {

    #sidebarContainer {
        color: #000 !important;
        background-color: #FFF !important;
    }

}