@charset "UTF-8";

#printBtn {
    width: 100%;
}

#info4print {
    display: none;
    height: 160px;
    background-color: #000;
}

#info4print li {
    font-size: 0.8em;
    font-weight: bold;
}

#sidebarContainer h3 {
    font-size: 1.2em;
}

#legendLabel {
    text-align: center;
}

#smallMapLegend {
    width: 276px;
    height: 200px;
    float: left;
    margin-right: 0 !important;
    background-color: #CCCCCC;
    margin-top: 10px;
}

#txtDir1, #txtDir2, #txtDir3, #txtDir14 {
    float: left;
    margin-right: 1em;
}

#heightLegend {
    width: 276px;
    height: 20px;
    margin-top: 50px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

@media print {

    #siteTitle h1 {
        color: #000 !important;
    }

    #info4print {
        background-color: #FFF;
    }

    #legendBar, #smallMapContainer {
        background-color: #FFF;
    }

    #legendCon .col-12 {
        background-color: #FFF !important;
    }

    #legendCon {
        color: #000 !important;
        background-color: #FFF !important;
    }

    #legendContainer {
        color: #000 !important; 
    }

    #legendContainer .legend-title,
    #legendContainer .legendMinText,
    #legendContainer .legendMaxText
    {
        fill: #000 !important; 
    }

    #legendLabel {
        text-align: left;
    }

}