@charset "UTF-8";

body {
    /* font-family: 'Noto Serif JP', serif; */
    font-family: 'Noto Sans JP', sans;
    font-feature-settings: "palt";
}

#sidebarContainer {
    z-index: 500;
    width: 15%!important;
    color: #ffffff;
    /* background-color: #797979 !important; */
    background-color: rgba(0,0,0,0.8) !important;
}

#txtDir1, #txtDir2, #txtDir3, #txtDir14 {
    float: left;
    margin-right: 1em;
}

#mapContainer {
    top:0; 
    height: 100vh; 
    width: 100vw; 
    position: fixed; 
    z-index: 1;
}

#mapboxContainer {
    top:0; 
    height: 100vh; 
    width: 100vw; 
    position: fixed; 
    z-index: 10;
}

#legendContainer {
    z-index: 30;
    position: absolute;
}