@charset "UTF-8";

body {
    /* font-family: 'Noto Serif JP', serif; */
    font-family: 'Noto Sans JP', sans;
    font-feature-settings: "palt";
}

#themeMap {
    top:0; 
    height: 100vh; 
    width: 100vw; 
    position: fixed; 
    z-index: 1;
}

#footerContainer {
    position: fixed;
    z-index: 490;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #010D12 !important;
}

